body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1, h3, p{
    
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: #073b4c;
}

#app {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    width: 50vw;
    text-align: center;
    background-color: #118AB2;
    border-radius: 20px;
}


.todo {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
    padding: 0px 20px;
    border-radius: 20px;
}

.todo button {
    border-radius:  20px;
    border-color: white;
}

/*Tablets*/
@media(max-width: 768px){
    #app {
        width: 80vw;
    }
}

/*Mobile*/
@media(max-width: 500px){
    #app {
        width: 90vw;
    }
}